:root {
  --body-text: #434455;
  --link-hover: #404BBF;
  --theme-main: #2E2F42;
  --theme-secondary: #4D5AE5;
  --border: #E7E9FC;
  --white: #fff;
  --background: #F4F4FD;
  --gap: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  color: var(--body-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--border);
  padding: 24px 0;
}

.header .content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header nav {
  align-items: center;
  display: flex;
  gap: 40px;
}

.header .logo {
  margin-right: 80px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo .highlight {
  color: var(--theme-secondary);
}

.main-nav,
.address-nav {
  align-items: center;
  display: flex;
  gap: 40px;
}

.main-nav .nav-link {
  font-weight: 500;
}

.header .nav-link:hover,
.header .nav-link:focus {
  color: var(--link-hover);
}

.address-nav a {
  font-style: normal;
}

.studio {
  background-color: var(--theme-main);
  padding: 188px 0;
  text-align: center;
  margin-bottom: 120px;
}

.main-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  margin: 0 auto 48px auto;
  max-width: 496px;
}

.cta {
  background-color: var(--theme-secondary);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
}

.cta:hover,
.cta:focus {
  background-color: var(--link-hover);
}

.section-title {
  color: var(--theme-color);
  font-size: 36px;
  line-height: 1.11;
}

.advantages .section-title {
  display: none;
}

.advantages .list,
.portfolio .list,
.team .list {
  align-items: flex-start;
  display: flex;
  gap: var(--gap);
}

.list-title {
  color: var(--theme-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.portfolio {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
}

.team {
  background-color: var(--background);
  padding: 120px 0;
}

.team .about {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 0;
  text-align: center;
}

.team .list-title {
  margin-bottom: 8px;
}

.footer {
  background-color: var(--theme-main);
  color: var(--background);
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 18px;
}

.footer .marketing-message {
  max-width: 264px;
}

.portfolio-page {
  padding: 96px 0 120px 0;
}

.portfolio-page .main-title {
  display: none;
}

.filters-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: var(--gap);
  margin-bottom: 72px;
}

.filter-button {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 4px;
  color: var(--theme-secondary);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button.active {
  background-color: var(--link-hover);
  color: var(--white);
}

.portfolio-items {
  column-gap: var(--gap);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: calc(2 * var(--gap));
}

.portfolio-item {
  width: 360px;
}

.portfolio-item .about {
  border: 1px solid var(--border);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item .list-title {
  margin-bottom: 8px;
}
