:root {
  --body-text: #434455;
  --link-hover: #404BBF;
  --theme-main: #2E2F42;
  --theme-secondary: #4D5AE5;
  --border: #E7E9FC;
  --white: #fff;
  --background: #F4F4FD;
  --gap: 24px;
  --grey: #8E8F99;
  --box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --green: #31D0AA;
  --background-alt: #FCFCFC;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

input,
textarea {
  background: none;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 12px;
  height: 40px;
  outline: none;
  padding: 8px 16px;
}

body {
  color: var(--body-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--border);
  padding: 24px 0;
}

.header .content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header nav {
  align-items: center;
  display: flex;
}

.header .logo {
  margin-right: 80px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo .highlight {
  color: var(--theme-secondary);
}

.main-nav,
.address-nav {
  align-items: center;
  display: flex;
  gap: 40px;
}

.main-nav .nav-link {
  font-weight: 500;
}

.main-nav .nav-item {
  position: relative;
}

.main-nav .nav-item.active {
  color: var(--link-hover);
}

.main-nav .nav-item.active:after {
  background-color: var(--link-hover);
  border-radius: 2px;
  bottom: -25px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}

.header .nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .nav-link:hover,
.header .nav-link:focus {
  color: var(--link-hover);
}

.address-nav a {
  font-style: normal;
}

.studio {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/index/main-bg.jpg');
  background-size: cover;
  padding: 188px 0;
  text-align: center;
}

.main-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  margin: 0 auto 48px auto;
  max-width: 496px;
}

.cta {
  background-color: var(--theme-secondary);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta:hover,
.cta:focus {
  background-color: var(--link-hover);
}

.section-title {
  color: var(--theme-color);
  font-size: 36px;
  line-height: 1.11;
}

.advantages {
  padding-top: 120px;
}

.advantages .section-title {
  display: none;
}

.advantages .list,
.portfolio .list,
.team .list {
  align-items: flex-start;
  display: flex;
  gap: var(--gap);
}

.advantages .list-item {
  width: calc((100% - (3 * var(--gap))) / 4);
}

.advantages-icon {
  align-items: center;
  background-color: var(--background);
  border-radius: 4px;
  display: flex;
  height: 112px;
  justify-content: center;
  margin-bottom: 8px;
}

.advantages-icon svg {
  height: 64px;
  width: 64px;
}

.list-title {
  color: var(--theme-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
}

.team {
  background-color: var(--background);
  padding: 120px 0;
}

.team .about {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 0;
  text-align: center;
}

.team .list-item {
  box-shadow: var(--box-shadow);
}

.team .list-title {
  margin-bottom: 8px;
}

.team .list-description {
  margin-bottom: 8px;
}

.social-list {
  align-items: center;
  display: flex;
  gap: var(--gap);
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.social-button {
  align-items: center;
  background-color: var(--theme-secondary);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--green);
}

.social-button svg {
  fill: var(--white);
  height: 100%;
}

.social-button svg use {
  transform: translate(12px, 12px);
}

.team .social-button:hover,
.team .social-button:focus {
  background-color: var(--link-hover);
}

.customers {
  padding: 120px 0;
}

.customers-list {
  align-items: center;
  display: flex;
  gap: var(--gap);
  list-style: none;
  justify-content: center;
  padding: 0;
}

.customer-item {
  width: calc((100% - (5 * var(--gap))) / 6);
}

.customer {
  border: 1px solid var(--grey);
  border-radius: 4px;
  display: inline-block;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer svg {
  fill: var(--grey);
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.customer:hover,
.customer:focus {
  border-color: var(--link-hover);
}

.customer:hover svg,
.customer:focus svg {
  fill: var(--link-hover);
}

.customer svg use {
  transform: translate(30px, 15px);
}

.footer {
  background-color: var(--theme-main);
  color: var(--background);
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 18px;
}

.footer .marketing-message {
  max-width: 264px;
}

.footer .content {
  align-items: flex-start;
  display: flex;
  gap: 120px;
}

.footer .title {
  font-weight: 500;
  margin-bottom: 16px;
}

.footer .social-list {
  gap: 16px;
}

.footer .social-button use {
  transform: translate(8px, 8px);
}

.portfolio-page {
  padding: 96px 0 120px 0;
}

.portfolio-page .main-title {
  display: none;
}

.filters-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: var(--gap);
  margin-bottom: 72px;
}

.filter-button {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 4px;
  color: var(--theme-secondary);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
              color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus,
.filter-button.active {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  color: var(--white);
}

.portfolio-items {
  column-gap: var(--gap);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: calc(2 * var(--gap));
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 360px;
}

.portfolio-item:hover {
  box-shadow: var(--box-shadow);
}

.portfolio-item .about {
  border: 1px solid var(--border);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item .list-title {
  margin-bottom: 8px;
}

.portfolio-image-wrap {
  overflow: hidden;
  position: relative;
}

.portfolio-image-overlay {
  background-color: var(--theme-secondary);
  height: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  transition: top 1s ease;
  width: 100%;
}

.portfolio-image-overlay .about {
  border: none;
  color: var(--white);
}

.portfolio-item:hover .portfolio-image-overlay {
  top: 0;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.40);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  background: var(--background-alt);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
}

.modal .content {
  padding: 72px 24px 24px 24px;
  position: relative;
}

.modal .close {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
}

.modal .close:hover {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
}

.modal .close:hover svg {
  fill: var(--white);
}

.modal .close svg {
  height: 100%;
  width: 100%;
}

.modal .close use {
  transform: translate(-4px, -4px);
}

.modal .title {
  color: var(--theme-main);
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-form {
  align-items: flex-start;
  display: flex;
  gap: var(--gap);
  height: 40px;
}

.subscribe-form label {
  display: none;
}

.subscribe-input {
  color: var(--white);
  height: 100%;
  width: 264px;
}

.subscribe-input:focus {
  border-color: var(--theme-secondary);
}

.subscribe-input::placeholder {
  color: var(--white);
}

.submit-button {
  align-items: center;
  background-color: var(--theme-secondary);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 16px;
  height: 100%;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 8px 24px;
}

.submit-button svg {
  height: 24px;
  width: 24px;
}

.submit-button:hover {
  background-color: var(--link-hover);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-group:focus-within .contact-input {
  border-color: var(--theme-secondary);
}

.form-group:focus-within svg {
  fill: var(--theme-secondary);
}

.form-group .label {
  color: var(--grey);
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
}

.form-input {
  position: relative;
  width: 100%;
}

.contact-input {
  border-color: rgba(46, 47, 66, 0.40);
  padding-left: 38px;
  width: 100%;
}

.form-input svg {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
}

.form-input.name svg {
  height: 18px;
}

.contact-input.comment {
  display: block;
  height: 120px;
  margin-bottom: 8px;
  padding-left: 16px;
  resize: none;
}

.contact-input.comment::placeholder {
  color: rgba(46, 47, 66, 0.40);
}

.terms {
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 24px;
}

.terms .checkbox {
  height: auto;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}

.checkbox-label {
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  height: 16px;
  position: relative;
  width: 16px;
}

.checkbox-label:after {
  content: '';
  display: none;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + .checkbox-label {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
}

input[type="checkbox"]:checked + .checkbox-label:after {
  display: block;
}

.terms .text {
  color: var(--grey);
  font-size: 12px;
}

.terms .text .link {
  color: var(--theme-secondary);
  text-decoration: underline;
}

.terms .text .link:hover,
.terms .text .link:focus {
  color: var(--link-hover);
  text-decoration: none;
}

.submit {
  text-align: center;
}

.submit .button {
  background-color: var(--theme-secondary);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 56px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  width: 169px;
}

.submit .button:hover,
.submit .button:focus {
  background-color: var(--link-hover);
}
